# Copy this file to .env and adjust values before running docker-compose

# PostgreSQL
POSTGRES_URL=postgresql+asyncpg://user123:pass123@postgres:5432/ims_db_pg

# MongoDB
MONGODB_URL=mongodb://user123:pass123@mongodb:27017/ims_db_mongo?authSource=admin

# Redis
REDIS_URL=redis://redis:6379

# App
APP_NAME=IMS - Incident Management System
VERSION=1.0.0
